:root {
  --color-black: #0d0d0d;
  --color-white: #f2f2f0;
  --font-lg: 2rem;
  --font-md: 1.5rem;
  --font-sm: 1.2rem;
  --font-xs: var(--font-xs);
  --radius-size: 4px;
  --padding-lg: 20px;
  --padding-md: 12px;
  --padding-sm: 8px;
  --margin-lg: 20px;
  --margin-md: 12px;
  --margin-md: 8px;
  --align-center: 0 auto;
}
*,
html,
body {
  font-family: 'Roboto';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}

.container {
  max-width: 500px;
  margin: var(--align-center);
  padding: 0 var(--padding-lg);
}

.header-wrap {
  border-bottom: 1px solid var(--color-black);
  margin-bottom: var(--margin-lg);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  margin: var(--align-center);
  padding: var(--padding-lg);
}

.header .title {
  font-size: var(--font-lg);
}

.btn {
  height: var(--font-lg);
  padding: 0 var(--padding-sm);
  border-radius: var(--radius-size);
  background-color: var(--color-black);
  color: #fff;
  border: 0;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.select {
  width: 100%;
  margin-bottom: var(--margin-lg);
  padding: var(--padding-md);
  font-size: var(--font-sm);
  border-radius: var(--radius-size);
  background-color: transparent;
  color: var(--color-black);
  border-color: var(--color-black);
  appearance: none;
  background-image: url('img/arrow.png');
  background-repeat: no-repeat;
  background-position: calc(100% - (var(--padding-md)));
  background-size: var(--padding-md);
  cursor: pointer;
}

.main-bg {
  background-image: url('./img/calculator.png');
  width: 100%;
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.subtitle {
  font-size: var(--font-md);
}

.converter {
  padding: 0 var(--padding-md);
}

.converter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--margin-md);
}

.converter .btn-group button:first-child {
  margin-right: 6px;
}

.converter .input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.converter .input-group > div {
  width: 45%;
}

.converter .input-group input {
  width: 100%;
  font-size: var(--font-xs);
  padding: var(--padding-sm);
}

.converter label {
  display: block;
  margin-bottom: var(--margin-sm);
}
